<h3>ثبت‌نام</h3>
<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  @if (error) {
    <nz-alert [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg" />
  }
  <nz-form-item>
    <nz-form-control [nzErrorTip]="mailErrorTip">
      <nz-input-group nzSize="large" nzAddonBeforeIcon="user">
        <input nz-input formControlName="mail" class="ltr-text" placeholder="رایانامه" />
      </nz-input-group>
      <ng-template #mailErrorTip let-i>
        @if (i.errors?.required) {
          رایانامه را وارد کنید.
        }
        @if (i.errors?.email) {
          قالب رایانامه معتبر نیست.
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'گذرواژه را وارد کنید.'">
      <nz-input-group
        nzSize="large"
        nzAddonBeforeIcon="lock"
        nz-popover
        nzPopoverPlacement="left"
        nzPopoverTrigger="focus"
        [(nzPopoverVisible)]="visible"
        nzPopoverOverlayClassName="register-password-cdk"
        [nzPopoverOverlayStyle]="{ 'width.px': 240 }"
        [nzPopoverContent]="pwdCdkTpl"
      >
        <input nz-input type="password" formControlName="password" class="ltr-text" placeholder="گذرواژه" />
      </nz-input-group>
      <ng-template #pwdCdkTpl>
        <div style="padding: 4px 0">
          @switch (status) {
            @case ('ok') {
              <div class="success">استحکام: قوی</div>
            }
            @case ('pass') {
              <div class="warning">استحکام: متوسط</div>
            }
            @default {
              <div class="error">استحکام: بسیار کوتاه</div>
            }
          }
          <div class="progress-{{ status }}">
            <nz-progress [nzPercent]="progress" [nzStatus]="passwordProgressMap[status]" [nzStrokeWidth]="6" [nzShowInfo]="false" />
          </div>
          <p class="mt-sm">حداقل ۶ نویسه وارد کنید و از گذرواژه‌های ساده و قابل حدس استفاده نکنید.</p>
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="confirmErrorTip">
      <nz-input-group nzSize="large" nzAddonBeforeIcon="lock">
        <input nz-input type="password" formControlName="confirm" class="ltr-text" placeholder="تکرار گذرواژه" />
      </nz-input-group>
      <ng-template #confirmErrorTip let-i>
        @if (i.errors?.required) {
          تکرار گذرواژه را وارد کنید.
        }
        @if (i.errors?.matchControl) {
          گذرواژه و تکرار آن یکسان نیستند.
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="mobileErrorTip">
      <nz-input-group nzSize="large" [nzAddOnBefore]="addOnBeforeTemplate">
        <ng-template #addOnBeforeTemplate>
          <nz-select formControlName="mobilePrefix" class="ltr-text" style="width: 100px">
            <nz-option [nzLabel]="'+98'" [nzValue]="'+98'" />
          </nz-select>
        </ng-template>
        <input formControlName="mobile" nz-input class="ltr-text" placeholder="۰۹۱۲۳۴۵۶۷۸۹" />
      </nz-input-group>
      <ng-template #mobileErrorTip let-i>
        @if (i.errors?.required) {
          شمارهٔ تلفن همراه را وارد کنید.
        }
        @if (i.errors?.pattern) {
          شمارهٔ تلفن همراه معتبر نیست (مثال: ۰۹۱۲۳۴۵۶۷۸۹).
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'کد تأیید را وارد کنید.'">
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="16">
          <nz-input-group nzSize="large" nzAddonBeforeIcon="mail">
            <input nz-input formControlName="captcha" class="ltr-text" placeholder="کد تأیید" />
          </nz-input-group>
        </div>
        <div nz-col [nzSpan]="8">
          <button type="button" nz-button nzSize="large" (click)="getCaptcha()" [disabled]="count > 0" nzBlock [nzLoading]="loading">
            {{ count ? (count + ' ثانیه' | persianDigits) : 'دریافت کد' }}
          </button>
        </div>
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <button nz-button nzType="primary" nzSize="large" type="submit" [nzLoading]="loading" class="submit">ثبت‌نام</button>
    <a class="login" routerLink="/passport/login">حساب کاربری دارید؟</a>
  </nz-form-item>
</form>
