<div class="login-card">
  @if (error(); as err) {
    <nz-alert nzType="error" [nzMessage]="err" nzShowIcon nzCloseable class="login-error" (nzOnClose)="error.set(null)" />
  }
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
    <nz-form-item>
      <nz-form-control nzErrorTip="نام کاربری را وارد کنید.">
        <nz-input-group nzSize="large" nzPrefixIcon="user">
          <input nz-input formControlName="userName" class="ltr-text" autocomplete="username" placeholder="نام کاربری" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="گذرواژه را وارد کنید.">
        <nz-input-group nzSize="large" nzPrefixIcon="lock" [nzSuffix]="passwordSuffix">
          <input
            nz-input
            [type]="passwordVisible() ? 'text' : 'password'"
            formControlName="password"
            class="ltr-text"
            autocomplete="current-password"
            placeholder="گذرواژه"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <ng-template #passwordSuffix>
      <nz-icon
        role="button"
        tabindex="-1"
        class="password-toggle"
        [nzType]="passwordVisible() ? 'eye-invisible' : 'eye'"
        (click)="togglePasswordVisibility()"
      />
    </ng-template>

    <nz-form-item>
      <nz-form-control nzErrorTip="کد امنیتی را وارد کنید.">
        <div class="captcha-row">
          <nz-input-group nzSize="large" nzPrefixIcon="safety-certificate">
            <input
              nz-input
              formControlName="captcha"
              class="ltr-text"
              autocomplete="off"
              maxlength="4"
              placeholder="کد امنیتی"
            />
          </nz-input-group>
          <button
            type="button"
            class="captcha-box"
            nz-tooltip
            nzTooltipTitle="برای دریافت کد جدید کلیک کنید"
            (click)="reloadCaptcha()"
          >
            @if (captchaSvg(); as svg) {
              <span class="captcha-image" [innerHTML]="svg"></span>
            } @else {
              <nz-icon nzType="sync" nzSpin class="captcha-loading" />
            }
          </button>
        </div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="submit-item">
      <button nz-button type="submit" nzType="primary" nzSize="large" nzBlock [nzLoading]="submitting()">ورود</button>
    </nz-form-item>
  </form>

  <p class="demo-hint">
    حساب آزمایشی:
    <span class="ltr-text credential">admin</span>
    /
    <span class="ltr-text credential">ng-alain.com</span>
  </p>
</div>
