<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  <nz-tabs [nzAnimated]="false" class="tabs" (nzSelectChange)="switch($event)">
    <nz-tab [nzTitle]="'نام کاربری'">
      @if (error) {
        <nz-alert [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg" />
      }
      <nz-form-item>
        <nz-form-control nzErrorTip="نام کاربری را وارد کنید (admin یا user)">
          <nz-input-group nzSize="large" nzPrefixIcon="user">
            <input nz-input formControlName="userName" class="ltr-text" placeholder="نام کاربری: admin یا user" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="گذرواژه را وارد کنید (ng-alain.com)">
          <nz-input-group nzSize="large" nzPrefixIcon="lock">
            <input nz-input type="password" formControlName="password" class="ltr-text" placeholder="گذرواژه: ng-alain.com" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
    <nz-tab [nzTitle]="'تلفن همراه'">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="mobileErrorTip">
          <nz-input-group nzSize="large" nzPrefixIcon="mobile">
            <input nz-input formControlName="mobile" class="ltr-text" placeholder="۰۹۱۲۳۴۵۶۷۸۹" />
          </nz-input-group>
          <ng-template #mobileErrorTip let-i>
            @if (i.errors.required) {
              شمارهٔ تلفن همراه را وارد کنید.
            }
            @if (i.errors.pattern) {
              شمارهٔ تلفن همراه معتبر نیست (مثال: ۰۹۱۲۳۴۵۶۷۸۹).
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="'کد تأیید را وارد کنید.'">
          <nz-row [nzGutter]="8">
            <nz-col [nzSpan]="16">
              <nz-input-group nzSize="large" nzPrefixIcon="mail">
                <input nz-input formControlName="captcha" class="ltr-text" placeholder="کد تأیید" />
              </nz-input-group>
            </nz-col>
            <nz-col [nzSpan]="8">
              <button type="button" nz-button nzSize="large" (click)="getCaptcha()" [disabled]="count >= 0" nzBlock [nzLoading]="loading">
                {{ count ? (count + ' ثانیه' | persianDigits) : 'دریافت کد' }}
              </button>
            </nz-col>
          </nz-row>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
  </nz-tabs>
  <nz-form-item>
    <nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember">مرا به خاطر بسپار</label>
    </nz-col>
    <nz-col [nzSpan]="12" class="text-right">
      <a class="forgot" routerLink="/passport/register">گذرواژه را فراموش کرده‌اید؟</a>
    </nz-col>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading" nzBlock>ورود</button>
  </nz-form-item>
</form>
<div class="other">
  ورود با
  <nz-icon nz-tooltip nzTooltipTitle="ورود با Auth0 در پنجرهٔ جدید" (click)="open('auth0', 'window')" nzType="safety-certificate" class="icon" />
  <nz-icon nz-tooltip nzTooltipTitle="ورود با GitHub" (click)="open('github')" nzType="github" class="icon" />
  <a class="register" routerLink="/passport/register">ثبت‌نام</a>
</div>
